;; Analyzed by ClojureScript 1.8.51
{:name cljs-mlb-notifier.mlb, :doc nil, :excludes #{}, :use-macros nil, :require-macros nil, :uses nil, :requires nil, :imports nil, :defs {game-id->date {:protocol-inline nil, :meta {:file "/Users/sirsean/code/cljs-mlb-notifier/src/cljs_mlb_notifier/mlb.cljs", :line 3, :column 7, :end-line 3, :end-column 20, :arglists (quote ([game-id]))}, :name cljs-mlb-notifier.mlb/game-id->date, :variadic false, :file "src/cljs_mlb_notifier/mlb.cljs", :end-column 20, :method-params ([game-id]), :protocol-impl nil, :arglists-meta (nil nil), :column 1, :line 3, :end-line 3, :max-fixed-arity 1, :fn-var true, :arglists (quote ([game-id]))}}}